.about_container{
    background-color: rgb(206, 205, 205);
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px 10px;
    letter-spacing: 1px;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 20%), 0 0 3px 0 rgb(0 0 0 / 10%);
    width: 80%;
}

.about_title{
    text-align: center;
    font-size: 40px;
    color: red;
    margin-top: 5px;
    text-decoration: underline;
    font-family: 'Questrial', sans-serif;
}

.about_container h1{
    font-family: 'Questrial', sans-serif;
    text-align: center;
    margin: 50px auto;
}

.about_para{
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
}

@media (max-width: 520px){
    .about_title{
        font-size: 32px;
    }
    .about_para{
        font-size: 17px;
    }
    .about_container h1{
        font-size: 28px;
    }
    .about_container{
        width: 90%;
    }
}