body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  margin-top: 20px;
  width: 95%;
  height: 630px;
  background: url("https://cdn.pixabay.com/photo/2015/12/04/14/49/hand-1076597_960_720.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.div_quote_1 {
  text-align: center;
  width: 70%;
  margin: auto;
  bottom: auto;
  color: rgb(255, 230, 143);
  font-size: 70px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
  font-family: "noticia text", serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding-top: 5px;
  margin: auto;
  background-color: #f0efef;
  height: auto;
}

.about_us_para {
  text-align: center;
  height: 70px;
  line-height: 70px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Questrial", sans-serif;
  color: rgb(255, 255, 255);
  margin: 0%;
  background-color: rgb(0, 0, 0);
}

.container_div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.container_quote,
.explore_quote {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_quote_para,
.explore_quote_para {
  width: 70%;
  text-align: center;
  font-size: 40px;
  text-shadow: rgb(255 255 255 / 60%) 1px 1px 1px,
    rgb(0 0 0 / 60%) -1px -1px 1px;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Questrial", sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0) !important;
}

.container_img {
  width: auto;
  display: flex;
  justify-content: center;
  height: 420px;
}

.container_img img {
  width: 600px;
  object-fit: cover;
  margin-top: 4px;
  height: 98%;
}

.learn_more_btn {
  width: 180px;
  height: 50px;
  outline: none;
  border: 2px solid black;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.learn_more_btn:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.parallax {
  margin: auto;
  width: 95%;
}

.parallax_div {
  width: 100%;
  font-family: "Questrial", sans-serif;
  margin: auto;
  background: url("https://static.wixstatic.com/media/dcca985fe5e148b1aea6744afd6af686.jpg/v1/fill/w_1363,h_460,al_c,q_85,usm_0.66_1.00_0.01/dcca985fe5e148b1aea6744afd6af686.webp")
    no-repeat center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-attachment: fixed;
  background-size: cover;
}

.parallax_div p{
  text-align: center;
  font-family: cursive;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(255, 230, 143);
  width: 350px;
  font-weight: 700;
  margin: 5px auto;
  text-shadow: rgb(0 0 0 / 40%) 0px 4px 5px;
  color: rgb(255, 230, 143);
  font-size: 60px;
}

.parallax_div h3{
  text-align: center;
  text-shadow: rgb(0 0 0 / 40%) 0px 4px 5px;
  color: #e8b917;
  margin: 15px auto;
  font-family: "noticia text", serif;
  font-size: 70px;
}

.parallax_div button{
  margin: auto;
  width: 270px;
  cursor: pointer;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 17px;
  background: repeat padding-box border-box 0% 0%/auto auto scroll linear-gradient(229deg
, #ff4f4f 0%, rgba(29, 44, 243, 0) 100%), #1D2CF3;
  transition: background-color 0.5s ease-in-out;
}

.parallax_div button:hover{
  background-color: rgb(255, 64, 64);
}

.explore {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  background-color: #f0efef;
  height: auto;
}

.explore_1 {
  display: flex;
  flex-direction: row;
}

.explore_img {
  width: auto;
  display: flex;
  justify-content: center;
  height: 470px;
}

.explore_1_img img {
  width: 910px;
  object-fit: cover;
  margin-top: 4px;
  height: 470px;
}

.explore_quote button {
  border-radius: 50px;
}

.our_course_benifit {
  width: 95%;
  height: 70px;
  z-index: -1;
  color: white;
  margin: 50px auto;
  line-height: 70px;
  text-align: center;
  font-family: "Questrial", sans-serif;
  justify-content: center;
  font-size: 45px;
  clip-path: polygon(0 0, 0% 100%, 98% 100%, 95% 50%, 98% 0);
  background-color: black;
}

.our_course_benifit p {
  margin: 0;
}

.benefit_details {
  display: flex;
  margin: auto;
  flex-direction: row;
  width: 88%;
  padding: 20px 10px;
  justify-content: space-between;
  height: auto;
  background-color: #f9f9f9;
}

.benefit_details_1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.benefit_details_1 img {
  width: 170px;
  height: 170px;
}

.benefit_details_1 .title {
  font-size: 30px;
  padding-bottom: 5px;
  font-weight: 700px;
  border-bottom: 2px solid black;
}

.benefit_details_1 .desc {
  text-align: center;
  line-height: 30px;
  font-family: "Questrial", sans-serif;
}

.testimonial {
  margin: auto;
  padding: 30px 0px;
  text-align: center;
  font-size: 35px;
  font-family: "Questrial", sans-serif;
  color: #e21c21;
  font-weight: 600;
}

.bgmedia {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

.video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
}

.bgmedia p {
  z-index: 200;
  font-size: 60px;
  position: absolute;
  margin: 0%;
  margin-top: 120px;
  color: white;
  font-family: "Questrial", sans-serif;
  text-align: center;
}

.bgmedia button {
  z-index: 200;
  font-size: 25px;
  margin: 0%;
  padding: 13px 15px;
  outline: none;
  position: absolute;
  border: none;
  margin-top: 240px;
  border-radius: 4px;
  background-color: #e21c21;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 20%), 0 0 3px 0 rgb(0 0 0 / 10%);
  font-family: "Questrial", sans-serif;
  text-align: center;
  transition: background-color 0.5s ease-in-out;
}

.bgmedia button:hover {
  background-color: white;
  color: black;
}

.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 600px;
}

.kGXgiF{
  flex-direction: column;
}

.testimonials_desc{
  width: 97%;
}

.testimonials_author{
  width: 96%;
  text-align: right;
}

@media (max-width: 1370px) {
  .explore_1 {
    border-bottom: 7px solid white;
    flex-wrap: wrap;
  }
  .explore_quote {
    margin-bottom: 50px;
  }
  .explore_1_img img,
  .explore_1_img {
    width: 100%;
    margin-top: 0px;
  }
  .parallax_div {
    margin: 7px auto;
  }
}

@media (max-width: 940px) {
  .container_div {
    flex-wrap: wrap-reverse;
  }
  .container_img img,
  .container_img {
    width: 100%;
  }
  .container_quote_para {
    font-size: 30px;
  }
  .container_quote {
    margin-bottom: 50px;
  }
  .benefit_details {
    flex-direction: column;
  }
  .benefit_details_1 {
    width: 100%;
    margin-bottom: 30px;
  }
  .parallax_div p{
    font-size: 50px;
  }
  .parallax_div h3{
    font-size: 50px;
  }
  .testimonials_desc, .testimonials_author{
    font-size: 18px;
  }
}


@media (max-width: 520px) {
  .div_quote_1 {
    font-size: 45px;
  }
  .explore_quote_para {
    font-size: 30px;
  }
  .our_course_benifit {
    margin: 20px auto;
    font-size: 30px;
    clip-path: polygon(0 0, 0% 100%, 98% 100%, 90% 50%, 98% 0);
  }
  .parallax_div p{
    font-size: 40px;
    width: 250px;
    margin-top: 40px;
  }
  .parallax_div h3{
    margin-top: 80px;
    font-size: 34px;
  }
}